
.projects-container{
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100vh;
    padding-top: 50px;
    border-top: 2px solid red;
}

.projects-header{
    text-shadow: 1px 2px 1px rgb(110, 110, 110);
}



