.intro{
    box-sizing: border-box;
    position: relative;
    top: 50px;
    width: 100vw;
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.name-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    top: 3%;
    width: 80vw;
    height: 30vh;
    margin-top: 20px;
}


.name{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    animation: name-appear 2s;
    animation-fill-mode: forwards;
}
@keyframes name-appear{
    from {
        opacity: 0;
        margin-bottom: 20px;
    }
    to {
        opacity: 1;
    }
}

.job{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px, auto, 50px;
}

.about-text{
    font-size: 16px;
    text-align: center;
    line-height: 150%;
    word-spacing: normal;
    max-width: 70vw;
    /*background-color: rgb(255, 255, 255);*/
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
}

.links{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
    margin-top: 20%;
    color: rgb(255, 255, 255);
}

.links :nth-child(1){
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #881c0e;
    border-radius: 5px;
    box-shadow: inset 1px -1px 10px rgb(71, 25, 25);
}

.links :nth-child(2){
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3216b;
    border-radius: 5px;
    box-shadow: inset -1px 1px 10px rgb(71, 25, 48);

}

.greet{
    position: relative;
    top: 5%;
    left: -30%;
    font-size: 24px;
    margin-bottom: 10px;
    animation: greet-enter 1s linear;
}

@keyframes greet-enter{
    from {
        left: -50%;
    }
    to {
        left: -30%;
    }
}